# SPDX-License-Identifier: AGPL-3.0-or-later
parameters:
    level: max
    paths:
        - bin/console
        - bin/quietlink
        - config
        - public
        - src
        - tests
    tmpDir: var/cache/phpstan
    excludePaths:
        - config/reference.php (?)
